<div class="modal-header">
    <h4 class="modal-title">Manage people</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Add people to split the bill</p>
    <input class="col form-control" placeholder="Name" type="text" [formControl]="person" ngDefaultControl />

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="confirm()">Confirm</button>
  </div>