<div class="modal-header">
    <h4 class="modal-title">Delete person!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>If you continue, every information regarding the user <b>{{owner}}</b> will be lost. Do you really want to continue?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="confirm()">Continue</button>
  </div>